<footer class="footer">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium obcaecati non numquam unde facilis rem dolorum accusamus quam labore quas temporibus, a voluptates mollitia quos odit, tenetur, repudiandae ut perspiciatis?</p>
        </div>
    </div>
</footer>
