*{
    font-family: JetBrainsRegular;
}
.navbar{
    background: transparent;
}
.botao{
    &__horario{
        border-radius: 30px;
        margin: 8px;
        background-color: #F36921;
        border-color: #F36921;
        color: #ffffff;
    }
    &__menu{
        margin: 5px 10px;
        border-radius: 30px;
        background-color: #F9D59F;
        border-color: #F9D59F;
        color: #000;
    }
}