<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="botao btn botao__menu" href="#sobre-nos">Sobre Nós</a>
                </li>
                <li class="nav-item">
                    <a class="botao btn botao__menu" href="#esportes">Esportes</a>
                </li>
                <li class="nav-item">
                    <a class="botao btn botao__menu" href="#servicos">Serviços</a>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn botao__horario" type="submit">Marque seu horário <i class="bi bi-chevron-double-right"></i></button>
            </div>
        </div>
    </div>
</nav>