.sessao-inicial{
    background-image: url("../../../../assets/colton-duke-V5qPDfTTVL8-unsplash\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 990px;
    .subtexto{
        font-size: 12px;
    }
    .voleyball {
        width: 39px;
    }
    .map-icon{
        width: 58px;
    }
    .image__box {
        margin-bottom: 80px;
    }

    .botao__quadra {
        margin: 5px;
        border-radius: 30px;
        background-color: #F36921;
        border-color: #F36921;
        color: #ffffff;
        text-align: center;
    }
    
    .botao__mapa{
        background-color: #F9D59F;
        padding: 22px;
    }
    .text {
        &__central {
            font-family: JetBrainsExtraBold;
            font-size: 180px;
            color: #000000;
            text-shadow: 5px 0px #ffffff;
        }
    }
}