<section class="sessao-inicial">
    <app-navbar></app-navbar>
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex justify-content-center image__box">
                <img src="../../../assets/ARENA_VIP_LOGO-1.png" alt="">
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col-4">
                <div class="row align-items-end">
                    <div class="col-12">
                        <button class="btn botao__quadra" type="submit"><img src="../../../assets/voleyball.png" alt="" class="voleyball"> Vôlei de Praia </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn botao__quadra" type="submit"><img src="../../../assets/tennis-ball.png" alt="" class="voleyball"> Beach Tênis </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn botao__quadra" type="submit"> <img src="../../../assets/soccer-ball.png" alt="" class="voleyball"> Futvôlei </button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex justify-content-center">
                    <h1 class="text__central">SHOW <br> YOUR <br> GAME </h1>
                </div>
            </div>
            <div class="col-4">
                <div class="row align-items-end">
                    <div class="col-12">
                        <button class="btn botao__mapa float-end" type="submit">
                            <div class="row">
                                <div class="col-4">
                                    <div class="d-flex justify-content-center">
                                        <img src="../../../assets/place-icon.png" alt="" class="map-icon"> 
                                    </div>
                                </div>
                                <div class="col-8">
                                    COHAB Anil I, <br> São Luís - MA, <br> 65066-620 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p class="subtexto">Clique para ser redirecionado ao maps</p>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
