<section class="sobre-nos" id="sobre-nos">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <img src="../../../../assets/img-arena.png" alt="">
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-center">
                            <img src="../../../../assets/ARENA_VIP_LOGO-2.png" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <p>Lorem ipsum dolor sit amet consectetur. Nisi consequat sapien nulla consectetur in volutpat mi egestas. Maecenas at augue viverra fames vulputate vitae. Feugiat maecenas diam curabitur non tellus. Cum a nullam hac scelerisque placerat vulputate.
                            Lorem ipsum dolor sit amet consectetur. Nisi consequat sapien nulla consectetur in volutpat mi egestas. Maecenas at augue viverra fames vulputate vitae. Feugiat maecenas diam curabitur non tellus. Cum a nullam hac scelerisque placerat vulputate.
                            Lorem ipsum dolor sit amet consectetur. Nisi consequat sapien nulla consectetur in volutpat mi egestas. Maecenas at augue viverra fames vulputate vitae. Feugiat maecenas diam curabitur non tellus. Cum a nullam hac scelerisque placerat vulputate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
