<section class="selecao" id="esportes">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="caixa-texto">
                    <h5>Escolha o esporte que que você dá show ou tire suas dúvidas e veja serviços prestados em nossa arena!!!</h5>
                </div>
            </div>
            <div class="col-9 align-self-center">
                <div class="row align-items-center">
                    <div class="col align-self-center">
                        <div class="d-flex justify-content-center">
                            <a class="btn botao__esporte" href="#volleyball"><img src="../../../../assets/voleyball.png" alt="" class="selection-icon"></a>
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <div class="d-flex justify-content-center">
                            <a class="btn botao__esporte" href="#tennis"><img src="../../../../assets/tennis-ball.png" alt="" class="selection-icon"></a>
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <div class="d-flex justify-content-center">
                            <a class="btn botao__esporte" href="#soccer"><img src="../../../../assets/soccer-ball.png" alt="" class="selection-icon"></a>
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <div class="d-flex justify-content-center">
                            <a class="btn botao__esporte" href="#perguntas"><img src="../../../../assets/ponto-de-interrogacao-1.png" alt="" class="interrogacao-icon"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>