* {
    font-family: JetBrainsRegular;

}

.app-pagina-principal {

    .sobre-nos{
        padding: 0 18px;
        .container-fluid{
            background-color: #F4E9DD;
            margin: 102px 0 52px;
            padding: 32px;
        }
    }

    .selecao{
        padding: 0 142px;
        margin: 102px 0 52px;
        .caixa-texto{
            background-color: #FFF8F5;
            padding: 12px;
        }
        .botao__esporte{
            background-color: #F4E9DD;
            border-radius: 100%;
            padding: 8px;
        }
        .interrogacao-icon{
            border: 3px solid #012E52;
            border-radius: 100%;
            background-color: #0DC3F3;
        }
    }

    .volleyball{
        margin: 102px 0 52px;
    }

    .tennis{
        margin: 102px 0 52px;
    }

    .soccer{
        margin: 102px 0 52px;
    }

}