<div class="app-pagina-principal">
    <app-sessao-inicial></app-sessao-inicial>
    <app-sobre-nos></app-sobre-nos>
    <app-esportes></app-esportes>

    <section class="volleyball" id="volleyball">
        <div class="container-fluid">
            <div class="row">
                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum deserunt natus quibusdam veritatis placeat porro ratione vitae voluptas tenetur illo maiores repellendus, aut ullam labore tempore obcaecati maxime nisi at.</h1>
            </div>
        </div>
    </section>

    <section class="tennis" id="tennis">
        <div class="container-fluid">
            <div class="row">
                <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias aspernatur enim eius. Saepe, nobis obcaecati? Eos harum impedit accusamus voluptate minima dolorum ad exercitationem modi, excepturi eum similique magni et?</h1>
            </div>
        </div>
    </section>

    <section class="soccer" id="soccer">
        <div class="container-fluid">
            <div class="row">
                <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias aspernatur enim eius. Saepe, nobis obcaecati? Eos harum impedit accusamus voluptate minima dolorum ad exercitationem modi, excepturi eum similique magni et?</h1>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>