/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
    font-family: JetBrainsRegular;
    src: url("./assets/JetBrains-Mono/JetBrainsMono-Regular.ttf")
}

@font-face {
    font-family: JetBrainsBold;
    src: url("./assets/JetBrains-Mono/JetBrainsMono-Bold.ttf")
}

@font-face {
    font-family: JetBrainsExtraBold;
    src: url("./assets/JetBrains-Mono/JetBrainsMono-ExtraBold.ttf")
}